# --- Python & System ---
__pycache__/
*.py[cod]
*$py.class
*.so
.DS_Store
Thumbs.db
Desktop.ini

# --- Build & Distribution ---
dist/
build/
*.egg-info/
.eggs/

# --- Environments & IDEs ---
.env
.venv
env/
venv/
.vscode/
.idea/
.spyderproject
.spyproject/

# --- Testing ---
.coverage
htmlcov/
.pytest_cache/
test_log.txt
*_log.txt

# --- Logs ---
logs/
*.log

# --- Data Handling ---
# Ignore all raw and processed data
data/raw/
data/processed/


# Large file extensions
*.nrrd
*.vtk
*.vti
*.h5
*.swc

# --- Scenes / Output ---
# Ignore generated screenshots and scene exports
scenes/
