# --- Python & System ---
__pycache__/
*.py[cod]
*$py.class
*.so
.DS_Store
Thumbs.db
Desktop.ini

# --- Build & Distribution ---
dist/
build/
*.egg-info/
.eggs/

# --- Environments & IDEs ---
.env
.venv
env/
venv/
.vscode/
.idea/
.spyderproject
.spyproject/

# --- Testing ---
.coverage
htmlcov/
.pytest_cache/
test_log.txt
*_log.txt

# --- Logs ---
logs/
*.log

# --- Data ---
# Ignore all raw data by default
data/raw/*
# keep only selected demo items
!data/raw/manifest.json
!data/raw/experiment_583747816/
!data/raw/experiment_480074702/

# Ignore heavy raw demo volumes (avoid GitHub >50MB warnings)
data/raw/experiment_480074702/projection_density_25.nrrd
data/raw/experiment_583747816/projection_density_25.nrrd


# IMPORTANT: ignore ALL tract processed outputs (too large for GitHub)
data/processed/tracts/

# --- Scenes / Output ---
scenes/

# --- Scripts ---
scripts/
